#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  .toast {
    display: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.9;
    transition: opacity 0.3s ease-in-out;
  }
  
  .toast.error {
    background-color: #ff5252;
  }
  
  .toast.success {
    background-color: #4caf50;
  }